@model RentalsReportViewModel
@{
    ViewData["title"] = "Rentals Report";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Rental" method="get" id="Filters">
            <input type="hidden" id="PageNumber" name="PageNumber" value="1" />
            <div class="mb-0">
                <label asp-for="duration" class="form-label">Duration</label>
                <input type="text" asp-for="duration" class="form-control form-control-solid js-date-range" autocomplete="off"  />
                <span asp-validation-for="duration" class="text-danger d-block"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Show Report</button>
        </form>
    </div>
</div>

@if (Model.rentals is not null)
{
    <div class="card mt-5">
        <div class="card-header">
            <h1 class="card-title">Rentals</h1>
            @if (Model.rentals.Any())
            {
                <div class="card-toolbar gap-3">
                    <a class="btn btn-light-success" asp-action="ExportRentalsToExcel"
                       asp-route-duration="@Context.Request.Query["duration"]">
                        <i class="bi bi-file-earmark-excel-fill"></i>
                        Export to Excel
                    </a>
                    <a class="btn btn-light-danger" asp-action="ExportRentalsToPDF"
                       asp-route-duration="@Context.Request.Query["duration"]">
                        <i class="bi bi-filetype-pdf"></i>
                        Export to PDF
                    </a>
                </div>
            }
        </div>


        <div class="card-body">


            @if (Model.rentals.TotalPages > 1)
            {
                <Partial name="_pagination" model="new paginationViewModel{PageNumber = Model.rentals.PageNumber, TotalPages = Model.rentals.TotalPages}" />

            }

            @if (!Model.rentals.Any())
            {
                <b>No books were found!</b>
            }
            else
            {

                <div class="table-responsive">
                    <table id="Books" class="table table-row-dashed table-row-gray-300 table-hover gy-2 align-middle">
                        <thead>
                            <tr class="fw-bold fs-6 text-white bg-black">
                                <th class="ps-10 rounded-start">Subscriber ID</th>
                                <th>Subscriber Name</th>
                                <th>Subscriber Phone</th>
                                <th>Book Title</th>
                                <th>Book Author</th>
                                <th>Rental Date</th>
                                <th>End Date</th>
                                <th>Return Date</th>
                                <th class="pe-5 rounded-end">Extended On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rental in Model.rentals)
                            {
                                <tr>
                                    <td>@rental.Rental!.Subscriber!.Id</td>
                                    <td>@rental.Rental!.Subscriber!.FirstName @rental.Rental!.Subscriber!.FirstName </td>
                                    <td>@rental.Rental!.Subscriber!.MobileNumber </td>
                                    <td>@rental.BookCopy!.Book!.Title</td>
                                    <td>@rental.BookCopy!.Book!.Author!.Name</td>
                                    <td>@rental.RentalDate.ToString("dd MMM,yyyy")</td>
                                    <td>@rental.EndDate.ToString("dd MMM,yyyy")</td>
                                    <td>@rental.ReturnDate?.ToString("dd MMM,yyyy")</td>
                                    <td>@rental.ExtendedOn?.ToString("dd MMM,yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>

}

@section Scripts{
    <partial name="_validationscriptspartial" />
    <script src="~/js/reports.js" asp-append-version="true"></script>
}
