@model RentalViewModel

<!--begin::Card-->

<div class="alert  bg-light-primary border border-primary border-3 border-dashed d-flex  p- mb-5 justify-content-between">

    <div class="d-flex align-items-center">
        <span class="svg-icon svg-icon-primary svg-icon-1hx pe-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M20 15H4C2.9 15 2 14.1 2 13V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V13C22 14.1 21.1 15 20 15ZM13 12H11C10.5 12 10 12.4 10 13V16C10 16.5 10.4 17 11 17H13C13.6 17 14 16.6 14 16V13C14 12.4 13.6 12 13 12Z" fill="currentColor" />
                <path d="M14 6V5H10V6H8V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5V6H14ZM20 15H14V16C14 16.6 13.5 17 13 17H11C10.5 17 10 16.6 10 16V15H4C3.6 15 3.3 14.9 3 14.7V18C3 19.1 3.9 20 5 20H19C20.1 20 21 19.1 21 18V14.7C20.7 14.9 20.4 15 20 15Z" fill="currentColor" />
            </svg>
        </span>
        Rental Details
        
    </div>
    <!--end::Content-->
    <!--begin::Close-->
    @if (Model.CreatedOn.Date == DateTime.Today)
    {
        <div class="card-toolbar">
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Rentals" asp-route-id="@Model.Id">
                <i class="bi bi-plus-square-dotted"></i>
                Edit
            </a>
        </div>
    }
    else if (Model.RentalCopies.Any(r => !r.ReturnDate.HasValue))
    {
        <div class="card-toolbar">
            <a class="btn btn-sm btn-primary" asp-action="Return" asp-controller="Rentals" asp-route-id="@Model.Id">
                <i class="bi bi-plus-square-dotted"></i>
                Return
            </a>
        </div>
    }
    <!--end::Close-->
</div>
<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            Book
        </h3>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table align-middle gs-0 gy-4" id="subscriptionTable">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold text-muted bg-light">
                        <th class="ps-4 min-w-125px rounded-start">Book</th>
                        <th class="ps-4 min-w-125px rounded-start">start Date</th>
                        <th class="min-w-125px ">EndDate</th>
                        <th class="min-w-125px">Total Delay(Days)</th>
                        <th class="min-w-125px">Return Date </th>
                        <th class="min-w-125px text-end rounded-end pe-4">Extend Date</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                    @foreach (var copy in Model.RentalCopies)
                    {
                        <tr>

                            <td>
                                <div class="ps-3">
                                    <div class="symbol symbol-50px">
                                        <img src="@copy.BookCopy!.Book!.ImageThumbnailUrl" alt="" />
                                    </div>
                                    @copy.BookCopy!.Book.Title
                                </div>
                            </td>
                            <td>
                                @copy.RentalDate.ToString("d MMM,yyyy")
                            </td>
                            <td>
                                @copy.EndDate.ToString("d MMM,yyyy")

                            </td>
                            <td>
                                <span class="text-@(@copy.DelayInDays>0?"danger":"black") ">
                                    @(@copy.DelayInDays > 0 ? @copy.DelayInDays : "0")  Day(s)
                                </span>
                            </td>
                            <td>
                                @copy.ReturnDate?.ToString("d MMM, yyyy")
                            </td>
                            <td class="text-end pe-4">
                                @copy.ExtendedOn?.ToString("d MMM, yyyy")
                            </td>
                        </tr>
                    }
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--begin::Body-->
</div>
<!--end::Card-->
